.git
.idea
.vscode
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
.env
.env.backup
.env.example
Dockerfile
docker-compose.yml
docker
phpunit.xml
tests/
*.log
*.sqlite
database/*.sqlite
